<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- required audio related permissions are provided by manifest inside MWEngine library -->

    <!-- note the configChanges directive (prevents restart of audio rendering thread on rotation/screen resize) -->
    <!-- this is unnecessary as by default the configChange would trigger the Activity destroy which should be handled separately -->

    <application android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name="nl.igorski.mwengine.example.MWEngineActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
